<div class="container">
    <h2>9. Fundamentos do Angular, componentes e data binding</h2>
 <app-funcionario-form (funcionarioAdicionado)="aoAdicionar($event)"></app-funcionario-form>

  <div class="row" style="margin-top: 20px">
    <div class="col-2" *ngFor="let f of funcionarios">
      <app-funcionario-card [funcionario]="f"></app-funcionario-card>
    </div>
  </div>

  <h2 [ngStyle]="estiloPipes('p')">11. Modulo pipes</h2>
  <app-pipes></app-pipes>

  <h2 [ngStyle]="estiloPipes('f')">12. Formulários e validação</h2>
  <app-formularios-validacao></app-formularios-validacao>


  <h2 [ngStyle]="estiloPipes('p')">14. Módulos do Angular</h2>
  <app-menu></app-menu>
  <app-botao-grande label="App"></app-botao-grande>
</div>

